@model PracticeActivityTraking.Event
@{
    ViewBag.Title = "Ошибка создания записи о мероприятии";
}

<h2>Ошибка создания записи о мероприятии</h2>
<h4>Был введен номер мероприятия, который уже есть в системе. Проверьте вводимые вами данные и повторите ввод.</h4>
<p>
    @Html.ActionLink("Создать новую запись", "Create")
</p>
<p>
    @Html.ActionLink("Вернуться к списку мероприятий", "Index")
</p>


