@model PracticeActivityTraking.Employee
@{
    ViewBag.Title = "Ошибка создания учетной записи";
}

<h2>Ошибка создания учетной записи</h2>
<h4>Был введен номер паспорта, который уже есть в системе. Проверьте вводимые вами данные и повторите ввод.</h4>
<p>
    @Html.ActionLink("Создать новую запись", "Create")
</p>
<p>
    @Html.ActionLink("Вернуться к списку учетных записей", "Index")
</p>

