@model PracticeActivityTraking.CodifierDepartment

@{
    ViewBag.Title = "Удаление подразделения предприятия";
}

<h2>Удаление подразделения предприятия</h2>

<h3>Вы уверены, что хотите удалить это подразделение?</h3>
<h2>Внимание!</h2>
<h3>При наличии данных, связанных с этой записью в других табоицах базы данных, они будут удалены каскадно. Убедитесь, что удаляемые данные ошибочны и не подлежат исправлению!</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку подразделений", "Index")
        </div>
    }
</div>