@{
    ViewBag.Title = "Информация о приложении";
}
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<h2>@ViewBag.Title.</h2>

<p>Система для управления вовлеченностью сотрудников. Приложение баз данных предназначено для автоматизации процесса управления вовлеченностью сотрудников в мероприятия, организуемые на предприятии.</p>
<p>За каждую активность совершенную сотрудником ему назначается определенное количество баллов (от 1 до 10). Набрав 10 баллов сотрудник получает 1 Уровень в системе, далее увеличивает его - каждые 10 баллов равны 1 Уровню.</p>
<p>Чем большую активность проявляет сотрудник - тем больший уровень получает и тем больше поощрение он получает от предприятия. Достигнув 5 Уровня он получает надбавку к зарплате, равную 0,5% от его зарплаты. Это поощрение увеличивается через каждые 5 Уровней (5, 10, 15 и т.д.).</p>
<h4>Совершайте больше активностей и получайте большее вознаграждание!</h4>

<p>
    @Html.ActionLink("Вернуться в главное меню", "Index", "Home")
</p>
